/* 
    Document   : style
    Created on : Dec 8, 2012, 9:43:02 PM
    Author     : vanganhit
    Description:
        Purpose of the stylesheet follows.
*/

body {    
    font-family: arial,tahoma,verdana,sans-serif;
    width: 800px;
    font-size: 14px;
}

.wrapper{
    width: 800px;
}

.clear{
    clear: both;        
}

#footer{
    margin-top: 10px;    
}

.form_view{
    
}

.form_view p {
    
}

.form_view p span {
    float: left;
    width: 150px;    
}