/* 
    Document   : style
    Created on : Dec 8, 2012, 9:43:02 PM
    Author     : vanganhit
    Description:
        Purpose of the stylesheet follows.
*/

body {    
    font-family: arial,tahoma,verdana,sans-serif;
    font-size: 14px;
    width: 800px;
}

.wrapper{
    width: 800px;
}

.clear{
    clear: both;        
}

#footer{
    margin-top: 10px;    
}

.topmenu{
    height: 30px;
}

.topmenu li {
    float: left;
    list-style: none outside none;
    margin-right: 5px;
}

.topmenu li a {
    background: none repeat scroll 0 0 #3B5998;    
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 20px;
    text-decoration: none;
}

.thumb {
    width: 170px;
}

.list-info{
    float: left;
    margin: 0;
    padding: 0;
}

.list-info li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D9;
    box-shadow: 2px 2px 3px #D9D9D9;
    float: left;
    font-family: "Times New Roman",Times,serif;
    height: 300px;
    margin: 14px 3px 0;
    overflow: hidden;
    width: 180px;
}

.list-info li div{
    text-align: center;
    margin-top: 5px;
}

.list-info li p {    
    margin: 2px 5px;
}

.search{

}
.search ul{
    float: left;
}

.search ul li{
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

.form_view{

}

.form_view p {
    margin-bottom: 5px;
    margin-top: 0;
}

.form_view p span {
    float: left;
    width: 150px;    
}

.form_view .f_row {
    float: left;
    margin-bottom: 5px;
    margin-top: 0;
}

.form_view div .f_head {
    float: left;
    width: 150px;    
}

.form_view div .f_content {
    float: left;      
}